<h1>User Details</h1>
<pre>{{$ctrl.model}}</pre>

<button type="button" ng-click="$ctrl.backToList()" class="btn btn-default btn-sm fa-pull-right">
    <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i> Back to User List
</button>